{% if config.plugins.aboutme.enabled %}
    <aside class="widget">
    <h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.ABOUTME'|t }}</h1>
        {% include 'partials/aboutme.html.twig' %}
    </aside>
{% endif %}

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <aside class="widget">
    <h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.RELATED_POSTS'|t }}</h1>
        {% include 'partials/relatedpages.html.twig' %}
    </aside>
{% endif %}

{% if config.plugins.random.enabled %}
    <aside class="widget">
    	<h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.RANDOM_POST'|t }}</h1>
    	<a class="button" href="{{ base_url }}/random"><i class="fa fa-retweet"></i> I'm Feeling Lucky!</a>
    </aside>
{% endif %}

{% if config.plugins.taxonomylist.enabled %}
    <aside class="widget wp_widget_tag_cloud">
        <h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.BEST_TAGS'|t }}</h1>
        {% include 'partials/taxonomylist.html.twig' with {'taxonomy':'tag', 'maxtag': config.plugins.taxonomylist.maxtag } %}
    </aside>
{% endif %}

{% if config.plugins.archives.enabled %}
    <aside class="widget">
        <h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.ARCHIVES'|t }}</h1>
    	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
    </div>
{% endif %}

{% if config.plugins.feed.enabled %}
    <aside class="widget syndicate">
        <h1 class="widget-title">{{ 'THEME_NUCLEARE.SIDEBAR.FEEDS'|t }}</h1>
        <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
        <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
    </aside>
{% endif %}